/* error message pop up */
.alert {
  padding: 1.5rem;
  color: red;
  border: 2px solid red;
  margin-top: 1em;
  border-radius: 1rem;
  font-weight: bold;
}

/* breakpoint for desktop */
@media only screen and (min-width: 1024px) {
  .alert {
    width: 60%;
    float: right;
    margin-top: 0;
    margin-bottom: 1.5em
  }
}