/* Compose new tweet */
.new-tweet {
  margin-bottom: 4em;
}
textarea {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  border-bottom: 4px solid black;
  font-weight: bold;
  margin-bottom: 1em;
  margin-top: 1em;
  height: 3em;
}
.counter {
  float: right;
  font-family: "Bungee";
}
.negativeNum {
  color: red;
}
input[type="submit"] {
  background-color: #4056A1;
  color: #FFFFFF;
  font-family: "Bungee";
  float: left;
  padding: 0.4rem;
}

/* breakpoint for desktop */
@media only screen and (min-width: 1024px) {
  .new-tweet {
    width: 60%;
    float: right;
    margin-bottom: 2rem;
    margin-top: 0;
  }

}